body{
    background-color: black;
}
h3{
    color: white;
    position: relative;

}
.text{
display: flex;


border-radius: 25px;
}
footer{
text-align: center;
padding: 20px;
background-color: #333;
color: #fff;
margin-top: 30px;
box-shadow: 0 -2px 5px #333;
}
