.navbar{
background-color: #444;
padding: 0.5rem 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
 justify-content: center;
}
.navbar ul li a {
display: block;
color: #fff;
text-decoration: none;
padding: 10px 15px;
transition: background-color 0.3s ease;
border-radius: 5px;
}

.navbar ul li a:hover{
background-color: #555;
}

.navbar ul li a.active{
    background-color: black;
    color: #fff;
    font-weight: bold;
}