
h1{
color: black;
border: 10px solid red;
text-align: center;
}


h1{
    color: brown;
}
/* reset do css*/
*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
.navbar{
background-color: #444;
padding: 0.5rem 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
 justify-content: center;
}
.navbar ul li a {
display: block;
color: #fff;
text-decoration: none;
padding: 10px 15px;
transition: background-color 0.3s ease;
border-radius: 5px;
}

.navbar ul li a:hover{
background-color: #555;
}

.navbar ul li a.active{
    background-color: black;
    color: #fff;
    font-weight: bold;
}
.santamonica{
border-radius: 25px;


}


.formulario-campo{
    display: flex;
 flex: 1;
 gap: 8px;
 width: 60%;
 justify-content: space-between;
 margin-bottom: 8px;
 align-items: center;
 text-align: center;
}
.formulario-campo label{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea{
width: 300px;
justify-self: flex-end;
}
